<div class="admin-right-column admin-editor">
  <div class="editor-content-wrapper">
    <div class="editor-left">
      <div class="icon-heart" {{action "togglePreview"}}></div>
      <div class="icon-tag" {{action "toggleOptions"}}></div>
      <div class="icon-close" {{action "delete"}}></div>
    </div>

    <div class="editor-content">
      {{#if showPreview}}
        <div class="markdown-preview">
          <h3 class="post-title">{{model.title}}</h3>
          {{ markdown model.body }}
        </div>
      {{else}}
        {{input placeholder="title" value=model.title class="editor-title"}}
        {{textarea placeholder="Butter goes on everything..." class="editor-body" value=model.body }}
      {{/if}}
    </div>
  </div>


  <div class="editor-footer {{if notPreview 'is-fixed'}}">
    {{#if model.draft}}
      <div class="btn-secondary btn-small" {{action "save"}}>Save Draft</div>
      <div class="btn-default btn-small" {{action "publish"}}>Ship It</div>
    {{else}}
      <div class="btn-secondary btn-small" {{action "unpublish"}}>Unpublish Post</div>
      <div class="btn-default btn-small" {{action "save"}}>Save</div>
    {{/if}}
  </div>

  <div class="post-options {{if notOptions 'inactive'}}">
    <section>
      {{#if model.title}}
        <h4>Options for: <em>{{model.title}}</em></h4>
      {{else}}
        <h4>New Post</h4>
      {{/if}}
    </section>
    <div class="form-group">
      <label for="title">Title</label>
      {{input value=model.title id="title"}}
    </div>
    <div class="form-group">
      <label for="slug">Slug</label>
      {{input value=model.slug id="slug"}}
    </div>
    <div class="form-group">
      <label for="published-date">Published Date</label>
      {{pik-a-day date=model.publishedAt utc=true id="published-date"}}
    </div>
    <div class="form-group">
      <label for="page-template">Page Template</label>
      {{input value=model.template id="page-template" placeholder="post, page..."}}
    </div>
    <div class="form-group">
      <label for="tags">Tags</label>
      {{input value=model.tagsString placeholder="culture, technology, ember" id="tags"}}
    </div>

    <div class="form-group">
      <div class="btn btn-small btn-default" {{action "toggleOptions"}}>Done (You can always finish later)</div>
    </div>
  </div>

</div>