<!--

greetings, from
███████╗██╗  ██╗ █████╗ ███╗   ██╗███████╗ ██████╗ ███╗   ██╗
██╔════╝██║  ██║██╔══██╗████╗  ██║██╔════╝██╔═══██╗████╗  ██║
███████╗███████║███████║██╔██╗ ██║███████╗██║   ██║██╔██╗ ██║
╚════██║██╔══██║██╔══██║██║╚██╗██║╚════██║██║   ██║██║╚██╗██║
███████║██║  ██║██║  ██║██║ ╚████║███████║╚██████╔╝██║ ╚████║
╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═══╝╚══════╝ ╚═════╝ ╚═╝  ╚═══╝

-->

<!DOCTYPE html>
<!--[if lte IE 7]><html lang="en" class="ie lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="en" class="ie ie8 lt-ie9"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie ie9 lt-ie10"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="s_ncMYSeS7kFo375Qf34znxAx0k19qG2wGADUUe7MFA" />

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title.present? ? "#{current_page.data.title} – Stephen Hanson" : "Stephen Hanson" %></title>

    <% meta_description = yield_content(:meta_description).presence || current_page.data.description.presence || "I’m Stephen Hanson, an Austin-based web developer and human. I write about life, tech, and random nonsense." %>
    <meta property="og:title" content="<%= current_page.data.title || 'Stephen Hanson' %>"/>
    <meta content="http://shanson.co<%= current_page.url %>" property="og:url"/>
    <meta content="<%= meta_description %>" name="description"/>
    <meta content="Stephen Hanson, Austin, web developer, Ruby on Rails, freelance, front-end, tech, technology" name="keywords">
    <meta content="<%= meta_description %>" property="og:description"/>
    <meta content="website" property="og:type"/>
    <meta content="Stephen Hanson" property="og:site_name"/>
    <!-- <meta content="<%= current_page.data.og_image || "http://shanson.co#{image_path('steve.jpg')}" %>" property="og:image"/> -->

    <%= partial "partials/favicons" %>

    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Stephen Hanson" %>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "modernizr.min" %>

    <%= stylesheet_link_tag :site %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "partials/analytics" %>

    <div class="body-content-wrapper">
      <%= partial "partials/nav" %>

      <p class="notice hide"></p>
      <p class="alert hide"></p>

      <div class="page-body">
        <%= yield %>

        <aside class="container container-xs hide">
          <div class="row">
            <% if blog.try(:articles) %>
              <div class="col-sm-4">
                <h4>Recent Articles</h4>
                <ol>
                  <% blog.articles[0...10].each do |article| %>
                  <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
                  <% end %>
                </ol>
              </div>
            <% end %>

            <% if blog.try(:tags) %>
              <div class="col-sm-4">
                <h4>Tags</h4>
                <ol>
                  <% blog.tags.each do |tag, articles| %>
                  <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
                  <% end %>
                </ol>
              </div>
            <% end %>

            <% if blog.try(:articles) %>
              <div class="col-sm-4">
                <h4>By Year</h4>
                <ol>
                  <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
                  <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
                  <% end %>
                </ol>
              </div>
            <% end %>
          </div>
        </aside>
      </div>


      <footer class="footer">
        <div class="container">
          <div class="footer-msg">
            Made with
            <%= inline_svg "ionicons/ios-heart-empty.svg", class: "icon-heart" %>
            by shanson.
          </div>
          <div class="footer-social">
            <a href="https://twitter.com/stephenhanson" target="_blank">@stephenhanson</a>
          </div>
        </div>
      </footer>
    </div>

    <%= javascript_include_tag :all %>
  </body>
</html>
