---
title: Building a Credenza
date: 2019-10-10
tags: personal, hobby
excerpt: I built a mid-century credenza
---

These past few years, I've slowly been getting more and more into woodworking as
a hobby. I decided this year that it was time to challenge myself and
make a more serious piece of furniture than I had before and set off to build a
mid-century modern style credenza.

I spent several months on this project, learning, designing, planning, and
building. I knew it would push me way out of my comfort zone and would require
a lot of firsts for me. I went to a lumber yard and worked with hardwood
(walnut) for the first time. I bought and learned how to use new tools. I spent
countless hours on YouTube learning about woodworking. I learned fun new words,
like dado and rabbet. I had the time of my life. I was miserable. I'm still not
sure which it is. One thing I'm sure of though is that I'm proud of what I
accomplished, and the feeling of having created something makes it worth it to
me.

Alright, enough reminiscing, let's jump into the project! Here's the finished
credenza first:

<%= image_tag "credenza/fin-01.jpeg", alt: "Finished credenza" %>

### Learning what I don't know

Before even starting with the design of the credenza, I had to fill a knowledge
gap and figure out how I would build something like this. I had never done
anything quite this complex, so there was a lot to learn. YouTubers like [Chris
Salamone](https://www.youtube.com/channel/UC1V-DYqsaj764uBis9-UDug) of _Four
Eyes_ and [Steve
Ramsey](https://www.youtube.com/channel/UCBB7sYb14uBtk8UqSQYc9-w) of
_Woodworking for Mere Mortals_ among others were invaluable for me while I was
educating myself.

After watching a lot of videos and reading random articles on the internet, I
decided I would make the credenza out of walnut, because it is a common wood
used for mid-century pieces and has a nice grain pattern and a rich natural
color that doesn't need any stain. It's also the wood that Chris Salamone uses
on most of his projects that I watched on YouTube, which made me feel more
confident -- I knew his techniques that I was borrowing would work with that
wood. I decided to use 3/4" walnut veneered plywood for most everything and then
3/4" solid walnut edging on the front of the cabinet to hide the plywood ends.

Now that I had a general idea for the techniques I would need and the materials
I would be using, it was time to start designing.

### Design time!

One of the reasons I decided to build this credenza is that I had very specific
dimensions that I was looking for. It was going in a walkway, so I didn't want
it to be too deep, and I had limited space for the width. I also had to
take into account what I could achieve using a single 4' x 8' sheet of
plywood. Since the plywood would the most expensive part, and since I wasn't
even sure if this project would work out, I wanted to keep it to a single
sheet. I started drawing out some designs to get a feel for dimensions that I
thought looked good.

I've used [SketchUp Make](https://www.sketchup.com/download/make) for designing
several projects now and highly recommend it for planning out these sorts of
things. I find it helpful to be able to view my project to scale and then
play around with different dimensions to get the look I want. Here's the design
I put together:

<%= image_tag "credenza/design-sketchup.png", alt: "3D rendering of credenza design" %>

And here you can see several iterations where I was tweaking various dimensions.
That's a lot of ZZ plants:

<%= image_tag "credenza/design-sketchup-iterations.png", alt: "3D rendering with several different versions of the credenza plans" %>

After seeing the designs, taking into account the space where the credenza would
go, and checking that I could fit everything on a single sheet of plywood, I
decided on my dimensions: 15" deep x 49" wide x 30.5" high. Here's a rough plan
of the cuts from my pocket notebook showing how I would lay them out on a 4' x
8' panel  (sorry for the quality):

<%= image_tag "credenza/design-cuts.png", alt: "cut-list for the pieces out of a 4 foot by 8 foot sheet of plywood" %>

I wanted the top and sides to come from a single strip of the plywood so there
would be continuous grain from the sides up to the top. I can't remember why
the picture has 53" width instead of 49". It might have been an early
iteration 🤷‍♂️.

### Time to build

Now that I had the design and cuts all figured out, I was ready to get started.
I rented a truck from Home Depot and went to [Fine
Lumber](https://finelumber.com), where I bought:

* 1 4'x8' sheet of 3/4" thick walnut veneered plywood
* 1 4'x8' sheet of 1/4" walnut plywood (for the backing)
* 6 linear feet of 1"x4" (actual 3/4" x 3.5") solid walnut

<figure>
  <%= image_tag "credenza/build-truck.jpeg", alt: "pickup truck loaded with wood" %>
  <figcaption>
    Truck loaded up, along with some wood that my friend Wingchi was picking up
    for his project we were working on together
  </figcaption>
</figure>

I don't have pictures of these first couple cuts, but I ripped the plywood into
the three length-wise cuts from my cut list using my table saw that I bought
for this project. The table saw can only cut pieces up to 24" wide, so I cut
the pieces for the top and bottom to width using my circular saw and then cut
the sides to width using the table saw. Here's the box dry-fitted together,
with some mineral spirits wiped on to give an idea of what the color would end
up like:

<%= image_tag "credenza/dry-fit-01.jpeg", alt: "The top, bottom, and sides fitted together roughly" %>

You can see above that there's some tear-out on the edge of the top piece. I
had figured this might happen since my circular saw is battery powered and has a
dull blade. To fix this, I set the top on top of another board and had it stick
a little past the other board. I then used a flush trim bit in my router to
remove about an inch off each edge of the top piece. It's hard to explain, and this
picture doesn't really help, but you can see that there's no more tear-out:

<figure>
  <%= image_tag "credenza/build-02.jpeg", alt: "The top piece with the router sitting next to it after trimming the end" %>
  <figcaption>
    The top piece after trimming it to be flush with the piece under it using the router
  </figcaption>
</figure>

It was pretty tedious doing this on both sides of the top and bottom pieces.

### Dados, rabbets, and other creatures

Next up was for me to cut rabbets and dados into the top and bottom pieces. I
didn't know these words before I started. A dado is a joint where you cut a
notch out of wood so you can fit another piece into the notch. A rabbet is the
same thing, except the notch is on the end of the piece of wood.

My plan was to use a router to make the following cuts:

- a 3/4" thick dado for each of the two dividers
- a 1/4" thick rabbet in the back so the 1/4" backing could be installed flush
- a rabbet and a dado for the two door tracks

Hopefully these pictures will help:

<figure>
  <%= image_tag "credenza/build-dados-design-front.png", alt: "" %>
  <figcaption>
    Looking at the bottom piece from the front. Same cuts, mirrored, made to top
  </figcaption>
</figure>

<figure>
  <%= image_tag "credenza/build-dados-design-back.png", alt: "" %>
  <figcaption>
    Looking at the bottom piece from the back. A 1/4" thick rabbet is cut along
    this piece and the sides and top so the backing will fit flush.
  </figcaption>
</figure>

I started with the rabbet and dado for the two tracks for the sliding doors.

#### Routing the track for the doors

I cut the door tracks by clamping a board down as a guide for the router and
using a straight bit. It was somewhat difficult to figure out where to clamp the
guide board. I had to measure the distance from the edge of the router guide to
the bit and clamp the board that distance away. Alternatively, it's not too hard
to make some [interesting jigs](https://youtu.be/gyp9EGhM368?t=137) for this
sort of thing, which I haven't tried yet.

<figure>
  <%= image_tag "credenza/build-track-01.jpeg", alt: "Cutting the track with a plunge router" %>
  <figcaption>Cutting the track with router</figcaption>
</figure>

<figure>
  <%= image_tag "credenza/build-track-02.jpeg", alt: "The bottom piece after cutting the track" %>
  <figcaption>After cutting the tracks</figcaption>
</figure>

It looks decent in that picture, but you can't see my one big mistake:

<figure>
  <%= image_tag "credenza/build-track-03.jpeg", alt: "small round gash in the wood" %>
  <figcaption>The wood I was using as a router guide moved, and the router went off track</figcaption>
</figure>

I cut out a small piece of wood and used a chisel to get it to mostly fit
before putting it in place with wood glue and wood filler. It's not very
noticeable now:

<%= image_tag "credenza/build-track-04.jpeg", alt: "gash in the wood repaired" %>

One trick I learned on the internet somewhere was to make the grooves for the
top of the sliding track deeper. That way, I can remove the sliding doors by
lifting them up and then pulling them out. Brilliant.

#### The rest of dados

Next, I cut the rest of the dados and rabbets for the two dividers and the
backing.

<figure>
  <%= image_tag "credenza/build-dado-divider.jpeg", alt: "cutting the dado for a divider" %>
  <figcaption>Cutting the dado for a divider. I switched the router off before taking this picture</figcaption>
</figure>

Here's what the bottom and top pieces looked like with the cuts made. You can't
tell so much, but the dados for the dividers were pretty sloppy. I've done more
projects since this one and have found it easier to use a [top-bearing flush
trim
bit](https://smile.amazon.com/Freud-Bearing-Flush-Shank-50-102/dp/B0000225XQ)
for dados. I'll go more into that on my next project write-up.

<%= image_tag "credenza/build-dados.jpeg", alt: "bottom and top pieces with the dados and rabbets cut" %>

And here it is with the dividers dry-fit in place:

<%= image_tag "credenza/dry-fit-02.jpeg", alt: "Bottom and top assembled with the dividers" %>

### Gluing on the edging

Next up was to cut out and glue on strips of solid walnut to use as front
edging to hide the plywood ends. I ripped the 6' 1x4 piece of walnut I had
picked up into three 7/8" wide strips that were 3/4" thick (the natural thickness
of the 1/4):

<%= image_tag "credenza/edging-pieces.jpeg", alt: "Edging strips ripped from one by four solid walnut" %>

I taped the glued the edging to the front of the top, bottom, and two sides and
used a couple bandy clamps along with lots of tape to clamp it. I was surprised
by how much tape I used on this project. I would do the edging for the two
dividers and shelves later.

<%= image_tag "credenza/edging-taped.jpeg", alt: "the top piece with the edging taped and clamped to it" %>

I clamped a scrap piece of wood under to hold the edging almost flush with the
bottom:

<%= image_tag "credenza/edging-side.jpeg", alt: "side view of the top piece with the edging clamped to it and a scrap piece of wood holding it flush on the bottom" %>

A couple hours later, the glue had dried, and I used a router with a flush trim
bit to cut the edging flush with the boards before sanding it smooth:

<figure>
	<%= image_tag "credenza/edging-routed.jpeg", alt: "board after routing the edging flush with lots of wood shavings covering it" %>
	<figcaption>This part was pretty messy. I'd do it outside in the future</figcaption>
</figure>

### Mitered corners

Next up was to miter the four corners of the box so they would fit together.
Since the miters hide the plywood where the top and bottom meet the sides, it
would keep me from having to put edging all the way around the top and bottom
of the credenza. I also like that the mitered corners allowed me to have
continuous grain from the top down to the sides.

The top and bottom pieces wouldn't fit length-wise on my table saw, so I had to
cut the miters by standing the pieces up vertically. I made a jig to hold the
pieces up perpindicular to the table saw and ran them through on that:

<figure>
	<%= image_tag "credenza/miters-jig.jpeg", alt: "jig on the table saw with the bottom piece clamped to it" %>
	<figcaption>Jig with the bottom piece clamped to it</figcaption>
</figure>

<figure>
	<%= image_tag "credenza/miters-01.jpeg", alt: "using the jig to cut the bottom piece on the table saw" %>
	<figcaption>Cutting the bottom piece</figcaption>
</figure>

I then ran the side pieces through the table saw without the jig (not
perpindicular) and then dry fit everything together. It was starting to look
pretty nice!

<%= image_tag "credenza/dry-fit-03.jpeg", alt: "assembled credenza, dry fit together" %>

This part was a little tedious, but I disassembled, cut the dividers shorter,
and reassembled repeatedly until the dividers were the right height.
time to glue everything up!

### Give up

My project almost ended here, because I got to the next task on my list and
thought it said "give up". Fortunately, I eventually deciphered my handwriting
and realized it was time to _glue_ everything up!

<%= image_tag "credenza/give-up.jpeg", alt: "task list with a task called 'glue up' that looks like 'give up'" %>

I used only glue on the mitered outer corners. The dividers provide most of the
load bearing structure of the credenza, and the glue is plenty strong enough for
the corners.

The Titebond premium glue I was using dries pretty quickly, so I had to move
pretty fast for this bit. First, I glued the dividers to the bottom, then I
glued the bottom to the side pieces and clamped them at a right angle to the
bottom, then I set the top on. I used ratcheting straps to clamp it all
together.

<%= image_tag "credenza/glue-up-01.jpeg", alt: "the dividers in place with glue seeping out between dividers and bottom" %>

<%= image_tag "credenza/glue-up-02.jpeg", alt: "glue on top of side piece, ready for top to be placed" %>

<%= image_tag "credenza/glue-up-03.jpeg", alt: "everything glued up with ratcheting straps around it" %>

<%= image_tag "credenza/glue-up-05.jpeg", alt: "another angle of everything glued up with corner visible" %>

<%= image_tag "credenza/glue-up-06.jpeg", alt: "view of corner from behind with back rabbet visible" %>

<%= image_tag "credenza/glue-up-07.jpeg", alt: "another view of the glue up with the tape removed that was covering some of the joints" %>

### Intermission

Quick break to have a baby. My daughter, Wren, was born 36 hours after the
photos above. Her middle name might be Credenza.

<figure>
  <%= image_tag "credenza/baby.jpg", alt: "Stephen and wife in a hospital bed holding their new baby" %>
  <figcaption>photo by <a href="https://jessicarockowitz.com">Jessica Rockowitz</a></figcaption>
</figure>

### Door and shelves

OK, we're almost done if you're still with me. After getting back from the
hospital and taking a break for a while, I removed the ratcheting straps and
filled gaps in the corners with wood filler.

After that, next up was for me to cut out the cabinet door for the right
cabinet and the three shelves. I first made a little jig so I could drill peg
holes for the shelves in all three cabinets:

<%= image_tag "credenza/shelf-pegs.jpeg", alt: "drilling peg holes using a piece of wood with pre-drilled holes as a jig" %>

Then, I cut the shelves and the door to size very carefully:

<%= image_tag "credenza/door-and-shelves.jpeg", alt: "right door in place, along with a shelf in each of the two left cabinets" %>

Next, I glued edging on the shelves and routed and sanded them smooth the same
way I'd done with the other pieces. For the door, I didn't want the edging seam
to be visible from the front, so I used iron-on walnut edge banding for the top
and sides that I found online (not pictured).

<%= image_tag "credenza/shelves-glue.jpeg", alt: "three shelves with edging clamped and taped on" %>

I then installed soft close hinges for the right cabinet door, which was fairly
straightforward. At this point, I was ready to start finishing!

<%= image_tag "credenza/shelves-done.jpeg", alt: "credenza with door and shelves installed" %>

### Finishing

I wanted the natural walnut to be on display, so I didn't apply any stain. I
finished the credenza with three coats of [General Finishes Arm-R-Seal gloss
urethane
topcoat](https://generalfinishes.com/wood-finishes-retail/oil-based-topcoats/arm-r-seal-oil-based-topcoat).
Before the first coat, I sanded meticulously with 150 grit sandpaper, then I
sanded with 320 and 400 grit between the second and third coats. I mostly
followed the techniques from [this video](https://youtu.be/iPtoPBMbAP8),
applying with cotton cloths and sanding between each coat, then wiping off and
applying mineral spirits before applying the stain.

I hadn't mentioned the legs yet. Since I don't own a lathe, I opted to buy
[these pre-fabbed
legs](https://www.tablelegs.com/mccobb-mid-century-modern-feet-straight-cleat-set-4-feet-2-cleats/)
from tablelegs.com in walnut with an 8" length. They were pretty pricey at $145
(after 20% discount), but they are high quality and were the only nice walnut
legs I could find. I also liked that they come with a cleat for added
stability.

Here are the shelves door and legs getting the first urethane coat:

<%= image_tag "credenza/finishing-01.jpeg", alt: "shelves and legs with urethane applied" %>

I applied a coat to the bottom of the credenza and the tops of the cabinets
while I had it upside down and then screwed the legs on:

<%= image_tag "credenza/finishing-02.jpeg", alt: "credenza upside down with the legs screwed on and coat applied to bottom and tops of cabinets" %>

Before first coat:

<%= image_tag "credenza/finishing-before-coat-1.jpeg", alt: "credenza before first coat applied, wood is pale and light" %>

After first coat. It's wild how much richer and darker the wood gets, even with a clear coat:

<%= image_tag "credenza/finishing-coat-1.jpeg", alt: "credenza with first coat of urethane, wood much richer and darker" %>

After second coat:

<%= image_tag "credenza/finishing-coat-2.jpeg", alt: "credenza with second coat of urethane applied, looks glossier and smoother" %>

After final coat and hardware installed:

<%= image_tag "credenza/fin-02.jpeg", alt: "credenza with final coat of urethane applied, looks glossier and smoother still" %>

<%= image_tag "credenza/fin-03.jpeg", alt: "side angle of credenza" %>

<%= image_tag "credenza/fin-04.jpeg", alt: "close up of credenza top" %>

<%= image_tag "credenza/fin-01.jpeg", alt: "credenza staged with items on it, in house" %>

<%= image_tag "credenza/fin-05.jpg", alt: "credenza in house from the side" %>

### Cost breakdown

Here's a rough breakdown of the cost.

| Description | Cost |
| -- | -- |
| 3/4" sheet of 4' x 8' walnut plywood | $130 |
| 1/4" sheet of 4' x 8' walnut plywood | $38 |
| 6' piece of 1x4 walnut lumber | $35 |
| 8" walnut legs with cleats | $145 |
| flush pulls for sliding doors | $5 |
| cabinet door pull (set of 4) | $14 |
| cabinet door rubber stop | $6 |
| cabinet hinges | $12 |
| General Finishes Arm-R-Seal Gloss, 1 quart | $26 |
| polyethylene low friction tape to line the door tracks | $3 |
| TiteBond Premium glue | $6|
| walnut iron-on edge banding | $17|
| walnut wood filler | $7 |
| roll of painters tape | $6 |
| <strong>Total</strong> | <strong>$450</strong> |
{: .totals-table }

<p></p>

The legs definitely drove the cost up. I've built a TV stand since this project
and was able to cut down the cost significantly by using a cheaper wood (birch)
and building my own legs. I think the total cost was around $100 to $150. I'm
hoping to do a write-up on that project soon.

I bought _lots_ of other tools and pieces of equipment for this project that I
didn't list above since they aren't expendable and wouldn't be required if you
already owned them. These things might have totalled up to around $800 for me
and included a table saw ($300), router ($200), router bit set, Home Depot
truck rental, earmuffs and dust masks, bandy clamps, mineral spirits, tack
cloths, sandpaper (I had some grits already, bought others), and chisels, among
other things.

I also used lots of other tools and things that I already owned, including a
miter saw, circular saw, drill, drill bits, clamps, a T-square, tape measures,
a brad nailer for the backing, ratcheting straps, and other smaller tools.

### It's done

This project was an immense learning experience for me, and I couldn't be more
pleased with the result. It was also incredibly difficult. I found myself
obsessed, unable to sleep at night as I lay awake thinking about what I needed
to learn and second-guessing decisions. I was miserable, and I was also alive. I
think I'll do this again.
