<div class="container container-xs">
  <% if paginate && num_pages > 1 %>
    <p>Page <%= page_number %> of <%= num_pages %></p>

    <% if prev_page %>
      <p><%= link_to 'Previous page', prev_page %></p>
    <% end %>
  <% end %>

  <% non_draft_articles(page_articles).each_with_index do |article, i| %>
    <article class="post-excerpt">
      <h3 class="post-excerpt-title">
        <%= link_to article.title, article, class: "heading-link" %>
      </h3>

      <div class="post-excerpt-body">
        <p>
          <%= article_summary(article) %>
        </p>
      </div>

      <div class="post-excerpt-metadata">
        <div class="read-time">
          <%= inline_svg "ionicons/ios-timer.svg", class: "icon-timer" %>
          <%= read_length(article.body) %> min read</div>
        <div class="date"><%= human_date(article.date) %></div>
      </div>
    </article>
  <% end %>

  <% if paginate %>
    <% if next_page %>
      <p><%= link_to 'Next page', next_page %></p>
    <% end %>
  <% end %>
</div>
