<% meta_description = yield(:meta_description).presence || "I’m Steve Hanson, an Austin-based web developer and human. I write about life, tech, and random nonsense." %>
<% meta_og_image = yield(:meta_og_image) || "" %>
<% site_title = yield(:title).presence || "Steve Hanson" %>

<title><%= site_title %></title>
<meta property="og:title" content="<%= site_title %>"/>
<meta content="<%= request.original_url %>" property="og:url"/>
<meta content="<%= meta_description %>" name="description"/>
<meta content="Steve Hanson, Austin, web developer, Ruby on Rails, freelance, front-end, tech, technology" name="keywords">
<meta content="<%= meta_description %>" property="og:description"/>
<meta content="website" property="og:type"/>
<meta content="Steve Hanson" property="og:site_name"/>
<meta content="<%= meta_og_image %>" property="og:image"/>
