<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>shanson</title>

    <script src="//use.typekit.net/hfm1pfh.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "modernizr.min" %>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="body-content-wrapper">
      <nav id="nav" class="nav">
        <div class="container">


          <%= link_to "Steve Hanson", root_path, class: 'nav-title'  %>

          <div class="nav-mobile-menu-toggle">
            <div class="icon-menu"></div>
            <div class="icon-close"></div>
          </div>

          <ul class="nav-links">
            <li class="nav-link"><a href="#">Posts</a></li>
            <li class="nav-link"><a href="/about">About</a></li>
            <li class="nav-link login-nav-link">
              <a href="/sign-up" class="link-primary">Follow me</a>
            </li>
          </ul>

        </div>
      </nav>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <div class="page-body">
        <%= yield %>
      </div>

      <footer class="footer">
        <div class="container">
          <div class="footer-msg">
            Made with <i class="icon-heart"></i> by Shanson.
          </div>
        </div>
      </footer>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>