<!DOCTYPE html>
<!--[if lte IE 7]><html lang="en" class="ie lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="en" class="ie ie8 lt-ie9"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie ie9 lt-ie10"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="s_ncMYSeS7kFo375Qf34znxAx0k19qG2wGADUUe7MFA" />

    <%= render "partials/meta" %>
    <%= render "partials/favicons" %>

    <link href="/feed" type="application/atom+xml" rel="alternate" title="Steve Hanson">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "modernizr.min" %>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "partials/analytics" %>
    <%= render "partials/nav" %>

    <div class="body-content-wrapper">

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <div class="page-body">
        <%= yield %>
      </div>

      <footer class="footer">
        <div class="container">
          <div class="footer-msg">
            Made with <i class="icon-heart"></i> by shanson.
          </div>
          <div class="footer-social">
            <a href="https://twitter.com/stephenhanson" target="_blank">@stephenhanson</a>
          </div>
        </div>
      </footer>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>